body {
	background: rgb(228, 229, 138) !important;
}

h1 {
	text-align: center;
}

#board-container {
	display: flex;
	justify-content: center;
	max-width: 800px;
	padding-bottom: 1em;
	background-color: rgb(82, 140, 207);
}
.colum {
	display: table-cell;
	background-color: rgb(82, 140, 207);
}

.cell {
	width: 90px;
	height: 90px;
	margin: 5px;
	border: 2px solid black;
	border-radius: 50%;
	background-color: rgb(180, 138, 138);
	cursor: pointer;
}
